# This workflow will build the project and run the benchmark-tests

# https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Benchmark

# https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/
on:
    workflow_dispatch:
#  schedule:
#    # * is a special character in YAML so you have to quote this string
#    - cron:  '30 5,17 * * *'

env:
    GRADLE_OPTS: -Xmx64m -Dorg.gradle.jvmargs=-Xmx64m

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
        check-latest: true

    - name: Download Marlin rendering engine
      run: |
        wget --timestamping https://github.com/bourgesl/marlin-renderer/releases/download/v0_9_4_5_jdk11/marlin-0.9.4.5-Unsafe-OpenJDK11.jar >> benchmark.log 2>&1
        wget --timestamping https://github.com/bourgesl/marlin-renderer/releases/download/v0_9_4_5/marlin-0.9.4.5-Unsafe.jar >> benchmark.log 2>&1

    - name: Cache Gradle wrapper and dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          ~/source
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Verify Gradle wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Clean fully
      run: rm -rf build

    - name: Clean with Gradle
      run: ./gradlew --console=plain --no-parallel --no-daemon clean

    - name: Build with Gradle
      run: ./gradlew --console=plain --no-parallel --no-daemon jmhJar

    - name: Prepare for report
      run: mkdir -p build/reports/jmh/

    - name: Run benchmark
      run: java -Xmx8m -jar build/libs/poi-benchmark-jmh.jar -o build/reports/jmh/human.txt -rf JSON -rff build/reports/jmh/results.json

    - name: Publish results
      run: ./gradlew --console=plain --no-parallel --no-daemon publishResults processResults

    # https://stackoverflow.com/questions/57921401/push-to-origin-from-github-action/58393457#58393457
    - name: Commit report
      run: |
        git config --global user.name 'Dominik Stadler'
        git config --global user.email 'dominik.stadler@gmx.at'
        git add results
        git commit -m "[ci skip] Add daily results"
        git push
